<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>16_archieve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F537F38E1C130CF600B75A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F537F3A71C130CF600B75A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F537F3B21C130CF600B75A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
