<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01_dataPickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F563D0641C0050AA00138686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F563D07D1C0050AB00138686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F563D0881C0050AB00138686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
